image-gallery {

.thumbnails { /* style the list of thumbnails (there are properties you can use to make it look like a grid) */
list-style: none;
column-count: 3;

img { /* style the thumbnails themselves */
width: 20px;
height: 13.48px;
}

button { /* and the buttons */
}
} /* .thumbnails */

dialog {
.image {
float: left;
width: 50%;
}

.long-description {
float: right;
width: 50%;
}
} /* dialog*/

dialog::backdrop { /* style the backdrop behind dialog when opened */
}

dialog:open { /* style dialog when it is visible */
}

} /* image-gallery */

